anyascii==0.3.2
attrs==24.2.0
beautifulsoup4==4.12.3
bioc==2.1
boto3==1.35.79
botocore==1.35.79
bpemb==0.3.6
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
conllu==4.5.3
contourpy==1.1.1
cramjam==2.9.0
cycler==0.12.1
dbus-python==1.2.16
Deprecated==1.2.15
distro-info==0.23+ubuntu1.1
docopt==0.6.2
fastparquet==2024.2.0
fasttext==0.9.3
filelock==3.16.1
flair==0.8
fonttools==4.55.3
fsspec==2024.10.0
ftfy==6.2.3
future==1.0.0
gcld3==3.0.13
gdown==3.12.2
gensim==3.8.3
huggingface-hub==0.26.5
hyperopt==0.2.7
idna==2.8
importlib-metadata==3.10.1
importlib-resources==6.4.5
intervaltree==3.1.0
Janome==0.5.0
jieba==0.42.1
jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
kiwisolver==1.4.7
konoha==4.6.5
langdetect==1.0.9
langid==1.1.6
lmdb==1.5.1
lxml==5.3.0
marisa-trie==1.2.1
MarkupSafe==2.1.5
matplotlib==3.7.5
more-itertools==10.5.0
mpld3==0.3
mwparserfromhell==0.6.6
names-dataset==3.1.0
networkx==3.1
nltk==3.9.1
numpy==1.19.5
overrides==3.1.0
packaging==24.2
pandas==2.0.3
pillow==10.4.0
pptree==3.1
protobuf==5.29.1
py4j==0.10.9.7
pyarrow==17.0.0
pybind11==2.13.6
pycountry==24.6.1
PyGObject==3.36.0
pyparsing==3.1.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
pytorch-revgrad==0.2.0
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
REL==0.0.1
requests==2.32.3
requests-unixsocket==0.2.0
s3transfer==0.10.4
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
segtok==1.5.11
semver==3.0.2
sentencepiece==0.1.95
six==1.14.0
smart-open==7.0.5
sortedcontainers==2.4.0
soupsieve==2.6
sqlitedict==2.1.0
tabulate==0.9.0
threadpoolctl==3.5.0
tokenizers==0.13.3
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tqdm==4.67.1
transformer-smaller-training-vocab==0.4.0
transformers==4.28.0
typing-extensions==4.12.2
tzdata==2024.2
unattended-upgrades==0.1
urllib3==1.25.8
wcwidth==0.2.13
Wikipedia-API==0.7.1
wikipedia2vec==2.0.0
word2number==1.1
wrapt==1.17.0
zipp==3.20.2
